p {
  color: red;
  font-size: 20px;
}
h1 {
  color: blue;
}
#id1 {
  color: aquamarine;
}
.class_1 {
  color: brown;
}
.class_2 {
  font-size: 40px;
}
.item_ul_1 {
  /* Bỏ hết dấu chấm của list */
  list-style: none;
}
